//@import "variables.scss";
@import "modules.scss";

body {
    font-family: Arial, sans-serif;
    background: $white url('../images/doublefade_leaf-pattern-gray-3.png') repeat-x 0 40px; 
    color: $simplot-gray; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arimo', Arial, sans-serif;
    margin-bottom: ($line-height-computed);
}

p {
    line-height: $line-height-computed * 1.4; 
	a {
		text-decoration: underline; 
	}
}
