$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

//@import "variables.scss";
@import "modules.scss";

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arimo', Arial, sans-serif;
    margin-bottom: ($line-height-computed);
}

p {
    line-height: $line-height-computed * 1.4; 
	a {
		text-decoration: underline; 
	}
}
